# Ignore build artifacts and temporary files
target/
spark-warehouse/
project/

# Optional: ignore IntelliJ or IDE metadata
.idea/
*.iml

# Ignore OS-specific files
.DS_Store

# Ignore docker volumes and database data
data-observability-stacks/docker-volume/
**/db-data/
